<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Имена</title>
</head>
<body>
<div class="container">
    <div th:each="name:${names}" class="alert  alert-info mt-1">
        <h5 th:text="'id: ' + ${name.getNameId()} + ' name: ' + ${name.getName()}"></h5>
    </div>
</div>
</body>
</html>